.groupImage
{
  width:100%;
}

.columnSize
{
  height: 600px;
  overflow-y: auto;
}

@media screen and (max-width: 760px)
{
  .groupImage
  {
    display: none;
  }

  .columnSize
  {
    height: 100%;
  }

}
