.cardStyle
{
	background-color: rgba(255, 255, 255, 0.8);
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.TitleBackground
{
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.newsDiv
{
	background-image: url("newsBackground.png");
	background-size: 100% 100%;
	height: 300px;
	overflow-y: auto;
}

.eventsDiv
{
	background-image: url("eventsBackground.png");
	background-size: 100% 100%;
	height: 300px;
	overflow-y: auto;
}

.tripsDiv
{
	background-image: url("tripsBackground.png");
	background-size: 100% 100%;
	height: 300px;
	overflow-y: auto;
}

.title
{
	color: #000;
	text-align: center;
}

.message
{
	color: #000;
	font-size: 18px;
	text-align: center;
}

.text
{
	color: #000;
	margin-right: 10px;
	text-align: center;
}
